<%console.log("show.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>

	<h1>Dramatis Personae Show Page</h1>

	<a href="./">Return to Index</a>

	<h3>Name: <%=dramatisPersonae.name%></h3>
	<h3>Age: <%=dramatisPersonae.age%></h3>
	<h3>Gender: <%=dramatisPersonae.gender%></h3>
	<h3>Race: <%=dramatisPersonae.race%></h3>
	<h3>Class: <%=dramatisPersonae.class%></h3>

	<a href="/dramatisPersonae/<%=dramatisPersonae.id%>/edit">Edit</a>

</body>
</html>


